.ocultar{
	display: none;
}

#aguarde{           
    position: fixed;    
    width:100%;
    height:1px; 
    top:30% !important;
    text-align: center;
    z-index: 50;    
}
ul li{
    list-style-type: none;
}